<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       https://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 引入外部资源文件 -->
    <context:property-placeholder location="classpath:dbconfig.properties"/>

    <!-- 创建数据源 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!-- 定义事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--事务驱动-->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- 创建SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>

        <!--
            configLocation、configuration 都表示的是mybatis-config.xml配置文件的封装
            configLocation属性表示的是mybatis-config.xml具体的路径
            configuration属性表示的是mybatis-config.xml配置文件的Configuration对象的封装
        -->
        <!--<property name="configLocation" value="classpath:mybatis-config.xml"/>-->
        <property name="configuration" ref="configuration"/>
        <!-- 引入mybatis-plus的全局配置 -->
        <property name="globalConfig" ref="globalConfig"/>

        <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>
        <property name="plugins">
            <array>
                <!-- 分页插件 -->
                <bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"/>
                <!-- 乐观锁插件 -->
                <bean class="com.baomidou.mybatisplus.extension.plugins.OptimisticLockerInterceptor"/>

                <!-- SQL执行分析插件, 避免出现全表更新和删除 -->
                <bean class="com.baomidou.mybatisplus.extension.plugins.SqlExplainInterceptor">
                    <property name="sqlParserList">
                        <list>
                            <bean class="com.baomidou.mybatisplus.extension.parsers.BlockAttackSqlParser"/>
                        </list>
                    </property>
                </bean>

                <!-- 非法SQL检查插件 -->
                <bean class="com.baomidou.mybatisplus.extension.plugins.IllegalSQLInterceptor"/>
            </array>
        </property>
    </bean>

    <!-- 配置Mapper接口扫描 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.yubin.mybatis.plus.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!-- mybatis-plus的基本配置(Configuration 相当于mybatis的核心配置文件) -->
    <bean id="configuration" class="com.baomidou.mybatisplus.core.MybatisConfiguration">
        <property name="mapUnderscoreToCamelCase" value="false"/>
    </bean>

    <!-- mybatis-plus全局配置 -->
    <bean id="globalConfig" class="com.baomidou.mybatisplus.core.config.GlobalConfig">
        <!-- 取消mybatis-plus的banner打印 -->
        <property name="banner" value="false"/>
        <!-- 引入DB策略配置 -->
        <property name="dbConfig" ref="dbConfig"/>
        <!-- 引入sql注入器 -->
        <!--<property name="sqlInjector" ref="myInjector"/>-->

        <!--引入公共字段填充处理类-->
        <property name="metaObjectHandler" ref="myMetaObjectHandler"/>
    </bean>

    <bean id="myInjector" class="com.yubin.mybatis.plus.injector.MyInjector"/>

    <bean id="myMetaObjectHandler" class="com.yubin.mybatis.plus.fill.MyMetaObjectHandler"/>

    <!-- mybatis-plus的DB策略配置 -->
    <bean id="dbConfig" class="com.baomidou.mybatisplus.core.config.GlobalConfig$DbConfig">
        <!-- 表名前缀, 此时可以去除实体类上的TableName注解 -->
        <property name="tablePrefix" value="tbl_"/>
    </bean>
</beans>